<div *ngIf="product != null">
    <h2>{{product.name | uppercase}} Details</h2>
    <div><span>id: </span>{{product.id}}</div>
    <div><span>name: </span>{{product.name}}</div>
    <div><span>description: </span>{{product.description}}</div>
    <div><span>retail price: </span>{{product.retail_price}}</div>
    <div *ngIf="userIsAdmin"><span>wholesale price: </span>{{product.wholesale_price}}</div>
    <div *ngIf="userIsAdmin"><span>quantity: </span>{{product.quantity}}</div>
    <label for="name">Product name: </label>
    <input id="name" [(ngModel)]="product.name" placeholder="name">
    
</div>

<button type="button" (click)="addToWatchlist()" routerLink="/watchlist">Add to Cart</button>
<button type="button" (click)="goBack()">go back</button>