<div *ngIf="authService.isAuthenticated(); else loginOrSignup">
    <h1>{{title}}</h1>
    <p>Hello {{current_user}}</p>
    <nav>
      <a routerLink="/products">Products</a>
      <a routerLink="/dashboard">Dashboard</a>
      <a *ngIf="!authService.isAdministrator()" routerLink="/watchlist">Watchlist</a>
      <a routerLink="order">Orders</a>
    </nav>
    <router-outlet></router-outlet>
    <!-- <app-messages></app-messages> -->
  </div>
  
<ng-template #loginOrSignup>
    <app-login></app-login>
</ng-template>